<section class="content-header">
    <h1>
        用户分组管理
        <small>13 new messages</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3" id="gamecontrolmenu">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">用户分组管理</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a onclick="myajax('/user/user_group_list')"><i class="fa fa-inbox"></i>分组列表</a></li>
                        <li><a onclick="myajax('/user/user_group_edit?op=add')">
                            <i class="fa fa-arrows"></i>新增分组</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="gamecontrolcontent">
            <div class="text-center">
                <br>
                <br>
                <br>
                <br>
                <br>
                <p><i class="fa fa-spin fa-refresh"></i>&nbsp;加载中，请稍候</p>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        myajax('/user/user_group_list');
    });

    function myajax(url) {
        $.ajax({
            type: "GET",
            url: url,
            data: {"nodeid": SELECTEDTREEID},
            dataType: "html",
            success: function (result) {
                $('#gamecontrolcontent').html(result);
            },
            error: function () {
                alert("请求失败，请稍候再试");
            }
        });
    }
</script>